



<% if searchgym_signed_in? %>
    <br><h1>Logged in as <strong><%= current_searchgym.email %></strong>.</h1><br>
    Choose your schedule

<% else %>
    <h1>welcome to your first step to fitness</h1><br><br><br><br><br><br>
<% end %>