<form style="margin:20px">
<label for="name">Project Name:</label>
<input type="text" id="name" name="name"><br>
<label for="status">status</label>
<input type="text" id="status" name="status"><br>
<label for="deploying_date">Deploying date:</label>
<input type="text" id="deploying_date" name="deploying_date"><br>
<input type="submit" value="Submit">

</form>