<h1 style="margin-left: 39%;">Department Entry</h1>
<form name="dform" action=''  onsubmit="return validateForm()" method="post">
<label for="dname">Enter the department name:</label><br>
<input type="text" id="dname" name="dname" placeholder="Enter Department Name"><br><br>
<input type="submit" value="Submit" style="margin-left:55px">
<input type="reset" value="reset"><br>
<a class="records" href="/departments">See previous records</a>

</form>
<script>
function validateForm() {
  let dname = document.forms["dform"]["dname"].value;
  if (dname == "") {
    alert("Name must be filled out");
    return false;
  }
}

</script>