<h1 style="margin-left: 39%;">New Department Creation</h1>

<%= form_for @department, html: { name: 'dform', onclick: 'return validateForm();' } do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name%>
  <%= f.submit "Create" ,id: "create" %>
<% end %>


<script>
document.getElementById("create").addEventListener("click", validateForm);

function validateForm(){
  let name = document.getElementById("department_name").value;
  if (name == "") {
    alert("Name must be filled out");
    return false;
  }
}
</script>