<form style="margin:20px;color:black">
<label for="dname">Enter the department name:</label><br>
<input type="text" id="dname" name="dname"><br><br>
<input type="submit" value="Submit" style="margin-left:55px">
<input type="reset" value="reset">

</form>