<h1 style="margin-left: 39%;">New Department Updation</h1>

<%= form_for @department, html: { name: 'dform', onclick: 'return validateForm();' } do |f| %>
  <%= f.label :name, "Name:"%>
  <%= f.text_field :name%>
  <%= f.submit "Create" %>
<% end %>


<script>
function validateForm() {
  let dname = document.forms["dform"]["department[name]"].value;
  if (dname == "") {
    alert("Name must be filled out");
    return false;
  }
}

</script>