
<a class="back" " href ="/department"><-Back</a>

<table style="width:100%">
<caption><h1>Department Table</h1></caption>
<tr>

  <th>Department Name</th>
  <th>Update</th>
  <th>Delete</th>
  <% @departments.ids.each do |j| %>
</tr>
  <tr>
  
    
    <td > <%= @departments.find(j).name %> </td>
        <td><a href="/department/<%= j %>/edit">edit</a></td>
        <td><a data-confirm="Are you sure? You wanna delete data of <%= @departments.find(j).name %>" rel="nofollow" data-method="delete" href="/department/<%= j %>/delete">delete</a></td>
  </tr>
  <% end %>
