<%= link_to "Back", home_path %>
<table style="width:100%">
<caption><h1>Assignment Table</h1></caption>
<tr>
  <th>Employee Name</th>
  <th>Assigned projects</th>
</tr>
  <% @assignments.each do |assignment| %>
  <tr>
  <td><%= assignment.employee.name %></td>
  <td><%= assignment.project.name %></td>
  </tr>
  <% end %>
</table>